:root {
    --background-color: #BED4FF;
    --text-color: #000000;
    --divider-color: #868686;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 5rem;
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 3rem;
    border-radius: 1.5rem;
}

#divider {
    width: 80%;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: none;
    border-top: 1px solid var(--divider-color);
    color: var(--divider-color);
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr::after {
    background: white;
    content: "or";
    padding: 0 4px;
    position: relative;
    top: -13px;
}

#use-referral {
    width: 60%;
}

#use-guest {
    width: 60%;
}

#referral-button {
    background-color: #F1C029;
}

#guest-button {
    background-color: #FFFFFF;
}

button {
    color: var(--text-color);
    border: 1.5px solid var(--text-color);
    border-radius: 2rem;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem auto;
    padding: 0.7rem;
    width: 100%;
}